# Ignore output folders (large data, not for version control)
output_*/

# Ignore Python cache
__pycache__/

# Ignore the CTX footprint shapefile
mars_mro_ctx_edr*

# Ignore the CTX intersections shapefile
CTX_pair_intersections*